.userPhoto {
  width: 100px;
  height: 100px;
}

ul.listPagination{
  display: flex;
  list-style-type: none;
  margin-left: -10px;
  margin-right: -10px;
}

ul.listPagination li{
  margin: 0 10px;
  cursor: pointer;
}

li.selectedPage {
  color: red;
}
