
section.sectionUsers{
  padding: 20px;
}

.userPhoto {
  width: 100px;
  height: 100px;
}

ul.listPagination{
  display: flex;
  list-style-type: none;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
}

ul.listPagination li{
  margin: 0 10px;
  cursor: pointer;
}

li.selectedPage {
  color: red;
}

div.wrapperListUsers{
  min-height: 300px;
  position: relative;
}
ul.listUsers{
  list-style-type: none;
  padding: 0;
}

ul.listUsers li{
  margin: 5px 0;
}